<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Faction:</b>
  <%= @post.faction %>
</p>

<p>
  <b>Morality:</b>
  <%= @post.morality %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2>Favorite</h2>
<%= render @post.favorites %>

<h2>Add a Character:</h2>
<%= render "comments/form" %>


<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |
